@import url(./reset.css);
@import url(./media.css);

:root {
  --color-second: #939CB0;
}

.container {
  width: 1400px;
  margin: 0 auto;
}

header {
  padding: 2rem 0 1rem 0;
}

nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.logo {
  display: flex;
  gap: 1rem;
  align-items: center;
  font-size: 2rem;
  font-weight: 500;
}

.search__form {
  display: flex;
  gap: 1rem;
}

.weather__input {
  padding: 1rem .5rem;
  border: none;
  border-bottom: 2px solid black;
  transition: .3s ease;
  font-size: 1rem;
  border-radius: 0 !important;
  width: fit-content !important;
  text-rendering: optimizeSpeed;
  text-align: center;

}
.weather__input:focus {
  outline: none;
}
.search__form button {
  display: block;
  min-width: fit-content !important;
  background-color: #447ef3!important;
  padding: .4rem .5rem;
  border-radius: .5rem;
  border: 1px solid transparent;
  transition: .3s ease;
  color: #ffffff !important;
  display: none;
}

.weather__wrapper {
  display: flex;
  gap: 2rem;
  width: 100%;
}

.current__temp {
  font-size: 3.5rem;
  font-weight: 500;
  color: #4793FF;
  display: block;
}

.today {
  color: #242424;
  font-size: 2rem;
  font-weight: 400;
}

.weather__card {
  box-shadow: 0 0 6px 0 rgb(196, 196, 196);
  border-radius: 20px;
  padding: 1rem;
  width: 40%;
  height: 15rem;
  margin-top: 1rem;
  transition: .5s ease;
  animation: apear .5s ease;
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.weather__card img {
  position: absolute;
  top: 0;
  right: 0;
  width: 7rem;
}

.description__card {
  box-shadow: 0 0 6px 0 rgb(196, 196, 196);
  border-radius: 20px;
  padding: 1rem;
  margin-top: 1rem;
  transition: .5s ease;
  animation: apear .5s ease;
  position: relative;
  width: 100%;
  display: flex;
  align-items: center;
  background-image: url(./src/assets/Cloud\ image.png);
  background-repeat: no-repeat;
  background-position: right;
  background-size: contain;
}

.desc__list {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.desc__item {
  display: flex;
  gap: 1rem;
  align-items: center;
}
.desc__item img {
  box-shadow: 0 0 6px 0 rgb(196, 196, 196);
  border-radius: 50%;
  width: 2.5rem;
  padding: 10px;
}
.desc__name {
  display: flex;
  align-items: center;
  gap: 1rem;
}

.desc__title {
  color: var(--color-second);
}

@keyframes apear {
  from {
    top: -20px;
    opacity: 0;
  }
  to {
    top: 0;
    opacity: 1;
  }
}

.temp__wrapper {
  display: flex;
  gap: .5rem;
  justify-content: center;
  align-items: center;
}
.temp__wrapper p {
  font-size: 3rem;
}

.weather__city {
  color: var(--color-second);
  font-size: 1.3rem;
}

.weather__description {
  color: var(--color-second);
  font-size: 1rem;
}

.weather__description::first-letter {
  text-transform: capitalize;
}

.forecast__card {
  box-shadow: 0 0 6px 0 rgb(196, 196, 196);
  border-radius: 20px;
  padding: 1rem;
  margin-top: 2rem;
  transition: .5s ease;
  animation: apear .5s ease;
  margin-bottom: 2rem;
  display: flex;
  gap: 1rem;
  overflow-x: scroll;
}

.forecast__day {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  background-color: #4794ff46;
  border-radius: 8px;
  width: 30rem;
  height: auto;
  padding: 1rem;
}
.forecast__date__day {
  display: block;
  margin-right: auto;
  font-size: 1.5rem;
  font-weight: 500;
}
.forecast__date__number {
  display: block;
  margin-right: auto;
  color: #939CB0;

}
.forecast__day img {
  margin-right: auto;
  width: 5rem;
}
.max__temp {
  font-size: 1.2rem;
  font-weight: 500;
  margin-right: auto;
}
.min__temp {
  color: #939CB0;
  margin-right: auto;
}
.day__description {
  color: #939CB0;
  text-align: left;
  display: block;
  margin-right: auto;
  font-size: .9rem;
}